
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.main_tittle{
    height: 150px;
    text-align: center;
    
}
nav a{
    color:#000000;
    font-size:1.1em;
    text-decoration:none;
  }
header{
    display:grid;
    grid-template-columns:100px auto;
    align-items:center;
    background-color: #E05C0D;
  }
  nav ul{
    margin: 0;
    list-style:none;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(6em,1fr ));
  }
.searcher_button {
  height: 42px;
  width: 75px;
  border-radius: 18px;
}
.text_search{
  width: 150px;
  height: 36px;
  border-radius: 18px;
}

img{
    width: 400px;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 10px 2px rgb(126, 122, 122);
    border-radius: 5px;
    margin: 15px;
}
.dia{border: black solid;}
a:hover {
    font-size: 1.5em;
    animation: shrink 1s infinite;
    text-decoration: underline;}
/* img:hover, .content_recipe {
    width: 420px;
    /*animation: shrink 1.5s infinite;
    transition:  .2s;
    } */
img:hover{
  transform: scale(1.2);
  transition: .5s;
}
.images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content_recipe{
    /*background-color: aquamarine;*/
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .barnav a {
        width: 100%;
        border-bottom: rgb(189, 228, 228) solid;
        float: right;
    }
    .text{
        font-size: 40px;
        
        font-weight: 800;
    }
    footer{
        font-size: 25px;
    }
  }
@media screen and (min-width: 800px){
    .barnav {
        margin: 0 auto;
        background-color: rgb(175, 79, 79);
        display: flex;
        justify-content: center;
    }
  }
@media screen and (min-width: 1200px) {
      .barnav  {
        background-color: rgb(228, 56, 56);
        margin: 0 auto;
        width: 100%;
        text-align: right;
        border-radius: 0;
    }

  }